body {
	background-color: #f9f9f9;
	overflow-y: none;
}
.main.logo {
	width: 250px;
}
.icon.image {
	width: 15px;
	height: 20px;
}

video {
	margin: auto;
}

.options {
	top: 0;
	left: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	position: fixed;
	margin-top: 80vh;
	z-index: 1000;
}

.options .message {
	max-width: 500px;
	margin: auto;
	margin-top: 10px;
}
